@{
    Layout = null;


}
@model List<Ventum>

<div style="text-align: left">
    <h2>Factura Amabisca</h2>
</div>

<div style="float: left">
    <p><h3>Amabisca</h3></p>
    <p>NIT:17000000</p>
    <p>Calle Rio de Janeiro</p>
    <p>Coban, Alta Verapaz</p>
    <p>Guatemala</p>
    <p>Tel: 79536214 | Fax: 97656432</p>
    <p>amabisca@gmail.com</p>
</div>

<br />
<br />
<div style="float: right">
    <p><h2>FACTURA</h2></p>
    <p>No. de Factura: </p>
    <p>Fecha: @DateTime.Now.ToShortDateString()</p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<table border="1">

    <thead>
        <tr><td>Cod. Venta</td><td>Cantidad</td><td>Cod. Vendedor</td><td>NIT cliente</td></tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CodVenta</td>
                <td>@item.CantidadVenta</td>
                <td>@item.CodUsuario</td>
                <td>@item.CodCliente</td>
            </tr>

        }
    </tbody>
</table>
