@{
    Layout = null;
}

<html>
@model List<Proveedor>
<head>

</head>
<body>
    <h2><u>Todos los Proveedores de la Empresa</u></h2>

    <div style="text-align: center">
        <br />
        <h3>Consulta de Todos los Proveedores de la Empresa</h3>
    </div>
    <br />
    <div style="text-align: left">
        <h5><u>Registro de Proveedores de la Empresa</u></h5>
        <table border="1">

            <thead>
                <tr><td>Cod_Proveedor</td><td>Nombre</td><td>Direccion</td><td>Telefono</td><td>Pais</td><td>Ciudad</td></tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CodProveedor</td>
                    <td>@item.Nombre</td>
                    <td>@item.Direccion</td>
                    <td>@item.Telefono</td>
                    <td>@item.Pais</td>
                    <td>@item.Ciudad</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <br />

</body>
</html>

