@{
    Layout = null;
}

<html>
@model List<Cliente>
<head>

</head>
<body>
    <h2><u>Todos los Clientes de la Empresa</u></h2>

    <div style="text-align: center">
        <br />
        <h3>Consulta de Todos los Clientes de la Empresa</h3>
    </div>
    <br />
    <div style="text-align: left">
        <h5><u>Registro de los Clientes de la Empresa</u></h5>
        <table border="1">

            <thead>
                <tr><td>Cod_Cliente</td><td>Nombre 1</td><td>Nombre 2</td><td>Apellido 1</td><td>Apellido 2</td><td>NIT</td><td>Telefono</td><td>Dirección</td></tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CodCliente</td>
                    <td>@item.Nombre1</td>
                    <td>@item.Nombre2</td>
                    <td>@item.Apellido1</td>
                    <td>@item.Apellido2</td>
                    <td>@item.Nit</td>
                    <td>@item.Telefono</td>
                    <td>@item.Direccion</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <br />

</body>
</html>

